.header-image .mat-icon {
    font-size: 4rem;
}

.sidenav-user-image {
    height: 4rem;
    width: 4rem;
}

.sidenav-toolbar {
    height: 108px !important;
    background-image: url('../../../assets/img/day1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav-toolbar a {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.mat-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.mat-card-subtitle {
    margin: 0 !important;
    text-shadow: 2px 2px 8px rgba(150, 150, 150, 1);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10rem;
}