<a routerLink="/profile">
    <div class="custom-sidenav-header">
        <div fxFlex fxLayoutAlign="center center">
            <div fxFlex="25" fxLayoutAlign="center center">
                <img class="mat-card-avatar sidenav-user-image" src="assets/img/user.png">
            </div>
            <div fxFlex="75" fxLayout="column" fxFlexAlign="center">
                <span class="mat-card-title"> Nombre</span>
                <span class="mat-card-subtitle">Apellidos</span>
            </div>
        </div>
    </div>
</a>