a {
    text-decoration: none;
}

.custom-sidenav-header {
    height: 6rem;
    background-image: url('../../../assets/img/b5.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.sidenav-user-image {
    height: 3rem;
    width: 3rem;
}