<div id="app" [class.alternative]="coreSrv.darkTheme|async">
    <app-navbar [sidenav]="sidenav" *ngIf="!(coreSrv.isSearching|async)"></app-navbar>
    <app-searchbar *ngIf="coreSrv.isSearching|async"> </app-searchbar>
    <div class="app-sidenav">
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav #sidenav mode="over" (click)="sidenav.close()" class="sidenav-panel">
                <app-profile-info></app-profile-info>
                <app-sidenav-list></app-sidenav-list>
            </mat-sidenav>
            <div class="sidenav-content" (ngx-scroll-tracker)="scrollHandler($event)" [@routerTransition]="getRouterOutletState(o)">
                <spinner></spinner>
                <router-outlet #o="outlet"></router-outlet>
                <fab-scroll-to-top [htmlElement]="scrollableElement"></fab-scroll-to-top>
            </div>
        </mat-sidenav-container>
    </div>
</div>